<div mat-dialog-title>
    <h1>Client Form</h1>
</div>
<form [formGroup]="clientForm" (ngSubmit)="onFormSubmit()">
    <mat-dialog-content class="content">
    <div clas="row">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Ex. John" formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Ex. Doe" formControlName="lastName">
        </mat-form-field>
    </div>
    <div clas="row" formGroupName="phones">
        <mat-form-field appearance="outline">
            <mat-label>Home Phone</mat-label>
            <input matInput type="tel" formControlName="homePhone">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Work Phone</mat-label>
            <input matInput type="tel" formControlName="workPhone">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Mobile Phone</mat-label>
            <input matInput type="tel" formControlName="mobilePhone">
        </mat-form-field>
    </div>
    <div clas="row">
        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
        </mat-form-field>
    </div>
    </mat-dialog-content>
    <div mat-dialog-actions class="action">
    <button mat-raised-button color="primary" type="submit">{{data ? "Update" : "Save"}}</button>
    <button mat-raised-button (click)=onCancel()>Cancel</button>
    </div>
<form>